Click>=7.0
janus
colorama
dask
distributed
werkzeug
itsdangerous
pandas
tabulate
Jinja2
Flask
MarkupSafe
boto3
flask_restful
ckanapi
requests
asynctest
retry
minio
aiodocker
aiohttp
docker
unidecode
chardet
jsonpath-ng
