Click>=7.0
janus
colorama
dask
distributed
werkzeug<1.0.0
itsdangerous==2.0.1
pandas
tabulate
Jinja2==2.10.1
Flask==1.1.2
MarkupSafe==0.23
boto3
flask_restful
ckanapi
requests
asynctest
retry
minio
aiodocker
aiohttp<4.0
docker
unidecode
chardet<4.0
jsonpath-ng
